<div>
  {{partial 'navbar'}}
  <div id="wrapper">

  <div id="header">
  </div><!-- #header -->

  <div id="content">
    <div class="container">
    {{outlet}}
  </div>
  </div><!-- #content -->

  <div id="footer" class="text-center">
      <p> PROJECT BY: ARIEL TAY</p>
  </div><!-- #footer -->

</div>

</div>
<!-- <footer id="footer" class="text-center">
  <p> PROJECT BY: ARIEL TAY</p>
</footer>  -->
<!-- <footer id="footer" class="text-center">
  <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
  BACK TO THE TOP  <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
<p> ARIEL TAY</p>
</footer>
