<div class=" space text-center">
<h3> SAY-WHUTTTT?</h3>
<div class="borderBox space text-center">
<p> I'm <span class="fontMedium spanRed">Ariel</span>, an enthusiast of dialects, that live in a tiny dot on the world map - Singapore </p>
<p> Growing up in a environment where i wasn't taught the different enthics and dialect of the different chinese culture </p>
<p> I felt left out or uneasy when strangers/elderly strikes a conversation with me using their dialect </p>
<p> Thus, I hope to help people who're interested to learn, to have a platform/dictionary that's dummy proof and easy to read</p>
<p> Drop me an email at shihqian@gmail.com if you would to be a part of my project </p>
<p> Together, we can make Dialect fun and easy to everyone! </p>
</div>
<br>
<div class="borderBox space text-center">
<h4> Login or Join us to view the Dictionary </h4>
{{#link-to 'login' class='btn Pastelblue'}}{{ paper-icon "face"}} Login{{/link-to}}
{{#link-to 'users.create' class=' btn Pastelgreen'}} {{ paper-icon "create"}}Create Account{{/link-to}}
</div>
</div>
